
$path-font: '../font/';

$font-family-base: 'Avenir', sans-serif;
$font-family-headers: 'DM Sans', sans-serif;

$header-height: 70px;
$transition: 0.3s ease;

// ----- colors
$color-white: #fff;
$color-gray-light: #FAFAFF;
$color-gray: #F4F4FF;

$color-brand: #8B81FF;
$color-brand-2: #C2C2FF;
$color-brand-3: #6C60FF;
$color-brand-4: #E0E0FF;


$color-text: #333333;
$color-headers: #1F2743;

$color-border: #F5F5FF;
$color-canvas-bg: #F6F7F8;

$color-btn-icon-wrap: $color-brand-3;
$color-btn-icon-wrap--bg-hover: $color-brand-2;
