
.icon-image-preview:before { content: '\e800'; } /* '' */
.icon-image-update:before { content: '\e801'; } /* '' */
.icon-layer-add:before { content: '\e802'; } /* '' */
.icon-layers:before { content: '\e803'; } /* '' */
.icon-move:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-redo:before { content: '\e806'; } /* '' */
.icon-save:before { content: '\e807'; } /* '' */
.icon-undo:before { content: '\e808'; } /* '' */
.icon-add-text:before { content: '\e809'; } /* '' */
.icon-color-picker:before { content: '\e80a'; } /* '' */
.icon-content:before { content: '\e80b'; } /* '' */
.icon-delete-filled:before { content: '\e80c'; } /* '' */
.icon-delete-stroke:before { content: '\e80d'; } /* '' */
.icon-edit:before { content: '\e80e'; } /* '' */
.icon-image:before { content: '\e80f'; } /* '' */
.icon-image-add:before { content: '\e810'; } /* '' */
.icon-down-open-mini:before { content: '\e811'; } /* '' */
.icon-left-open-mini:before { content: '\e812'; } /* '' */
.icon-right-open-mini:before { content: '\e813'; } /* '' */
.icon-up-open-mini:before { content: '\e814'; } /* '' */
.icon-ccw:before { content: '\e815'; } /* '' */
.icon-arrows-ccw:before { content: '\e816'; } /* '' */
.icon-cog-outline:before { content: '\e817'; } /* '' */
.icon-params:before { content: '\e818'; } /* '' */
.icon-print:before { content: '\e819'; } /* '' */
.icon-dot-3:before { content: '\e81a'; } /* '' */
.icon-folder-add:before { content: '\e81b'; } /* '' */
.icon-align-center:before { content: '\e81c'; } /* '' */
.icon-align-right:before { content: '\e81d'; } /* '' */
.icon-align-left:before { content: '\e81e'; } /* '' */
.icon-text-width:before { content: '\e81f'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */